<a href="https://colab.research.google.com/github/kevinta123/CSS-Gitub-pages/blob/main/sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Instalar SQLite 
!apt-get install sqlite3

Reading package lists... Done
Building dependency tree
Reading state information... Done
Suggested packages:
  sqlite3-doc
The following NEW packages will be installed:
  sqlite3
0 upgraded, 1 newly installed, 0 to remove and 22 not upgraded.
Need to get 860 kB of archives.
After this operation, 2,803 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal-updates/main amd64 sqlite3 amd64 3.31.1-4ubuntu0.5 [860 kB]
Fetched 860 kB in 1s (1,266 kB/s)
Selecting previously unselected package sqlite3.
(Reading database ... 128216 files and directories currently installed.)
Preparing to unpack .../sqlite3_3.31.1-4ubuntu0.5_amd64.deb ...
Unpacking sqlite3 (3.31.1-4ubuntu0.5) ...
Setting up sqlite3 (3.31.1-4ubuntu0.5) ...
Processing triggers for man-db (2.9.1-1) ...

In [ ]:


# Crear una conexión a la base de datos SQLite
import sqlite3
conn = sqlite3.connect('mydatabase.db')

# Crear una tabla en la base de datos
cursor = conn.cursor()
cursor.execute('''CREATE TABLE users
                (id INTEGER PRIMARY KEY, name TEXT, age INTEGER)''')
conn.commit()

# Cerrar la conexión a la base de datos
conn.close()

#CRUD

In [ ]:
# Conectar a la base de datos SQLite
import sqlite3
conn = sqlite3.connect('mydatabase.db')
cursor = conn.cursor()

# Definir función para crear un nuevo usuario
def create_user(name, age):
    cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", (name, age))
    conn.commit()

# Definir función para obtener todos los usuarios
def read_users():
    cursor.execute("SELECT * FROM users")
    return cursor.fetchall()

# Definir función para actualizar un usuario
def update_user(id, name, age):
    cursor.execute("UPDATE users SET name=?, age=? WHERE id=?", (name, age, id))
    conn.commit()

# Definir función para eliminar un usuario
def delete_user(id):
    cursor.execute("DELETE FROM users WHERE id=?", (id,))
    conn.commit()

# Probar 
Una vez que hemos definido las funciones CRUD, podemos probarlas para verificar si funcionan correctamente:

In [ ]:
# Crear un nuevo usuario
create_user("Juan", 25)

# Obtener todos los usuarios
users = read_users()
print(users)

# Actualizar un usuario
update_user(1, "Juan Perez", 26)

# Obtener todos los usuarios
users = read_users()
print(users)

# Eliminar un usuario
delete_user(1)

# Obtener todos los usuarios
users = read_users()
print(users)
# Cerrar la conexión a la base de datos
conn.close()

# Ejercicio 1 
Desarrolle un script para crear  dos nuevo usuario con el nombre "Pepe" y la edad "31" y "Juan" y la edad 25 . Luego imprimirá todos los usuarios en la tabla users. A continuación, actualizará el usuario con el ID 2 con el nombre "Pepe Pérez" y la edad "30", e imprimirá todos los usuarios en la tabla users de nuevo. Finalmente, eliminará el usuario con el ID 2 y volverá a imprimir todos los usuarios en la tabla users.

# Crear JSON

In [ ]:
import sqlite3
import json

# Conectar a la base de datos SQLite
conn = sqlite3.connect('mydatabase.db')

# Ejecutar una consulta SQL para obtener los datos de la tabla
cursor = conn.cursor()
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

# Convertir los datos en un formato JSON
data = []
for row in rows:
    data.append({
        'id': row[0],
        'name': row[1],
        'age': row[2]
    })
json_data = json.dumps(data)

# Guardar los datos en un archivo JSON
with open('users.json', 'w') as f:
    f.write(json_data)

# Cerrar la conexión a la base de datos
conn.close()